* annex.backend=MD5E
**/.git* annex.largefiles=nothing
scripts/* annex.largefiles=nothing
metadata/*.csv annex.largefiles=nothing
recordings/* annex.largefiles=((mimeencoding=binary)and(largerthan=0))

